body {
    background-image: url("img/Dark\ blocks.jpg");
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
}
h3 {
    background-color: #222222;
    color: gray;
    width: 300px;
   
}

#websitesImg {
    margin: 25px 0px 0px 182px;

}

#networkImg {
    margin: 25px 0px 0px 97px;

}

#dataImg {
    margin: 25px 0px 0px 182px;
}

#gamesImg{
    margin: 25px 0px 0px 97px;
}